@model nScanty.Models.Tagged
<h1>Posts Tagged @Model.Tag</h1>
<div id="content">
    @foreach (var post in Model.Posts)
    {
    	<div class="post">
    		<p class="date">@post.Month<b>@post.Day</b></p>

            <h2 class="title">
                @Html.ActionLink(@post.Title, "Post", new { slug = @post.Slug }, null)
            </h2>
    		<p class="meta">
                <small>
                    @foreach (var tag in post.Tags) {
                        @Html.ActionLink(tag, "Tag", new { tag = tag });
                                                                                       
        			@*<% if Blog.disqus_shortname %>
                    this was being read out of main.rb OpenStruct, would be web.config for this app
        				| <a href="<%= post.url %>#disqus_thread">comments</a>
        			<% end %>*@
                    }
        		</small>
            </p>
    		<div class="entry">
                @{
                    var summary = @post.Summary;
                    var sumHtml = summary.Replace("\r\n", "<br />");
                    sumHtml += "  ";
                    @Html.Raw(sumHtml)
                    if (post.More)
                    {
                        @Html.ActionLink("Continue reading..", "Post", new { slug = @post.Slug }, null)
                    }
                }
    		</div>
    	</div>
    }
</div>