@model nScanty.Models.Post
           
<div id="content">
    <div class="postzoom">
    	<h2 class="title">@Model.Title</h2>

        @Html.Partial("_Tags", Model.Tags)

        <p class="meta">@Model.CreatedAt</p>

		<div class="entry">
            @{
                var body = Model.Body;
                var bodyHtml = body.Replace("\r\n", "<br />");
                @Html.Raw(bodyHtml)
            }
		</div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="edit">
                @Html.ActionLink("Edit", "Edit", new { objectId = Model.Id}, null)
            </div>
        }
        
    </div>
</div>

@*<% if Blog.disqus_shortname %>
	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/<%= Blog.disqus_shortname %>/embed.js"></script><noscript><a href="http://<%= Blog.disqus_shortname %>.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<% end %>*@