@model IEnumerable<nScanty.Models.Post>

@foreach (var post in Model)
{
	<div class="post">
		<p class="date">@post.Month<b>@post.Day</b></p>

        <h2 class="title">
            @Html.ActionLink(@post.Title, @post.Url)
        </h2>

		@if (post.Tags != null) 
		{
			@Html.Partial("_Tags", @post.Tags)
		}

		<div class="entry">
            @{
                var summary = @post.Summary;
                var sumHtml = summary.Replace("\r\n", "<br />");
                sumHtml += "  ";
                @Html.Raw(sumHtml)
                if (post.More)
                {
                    @Html.ActionLink("Continue Reading..", @post.Url)
                }
            }
		</div>

	</div>
}
